/*****base style*****/

body {
    font-family: 'montserrat', sans-serif;
    color: #262626;
    background-color: #ffffff;
}
/*****grid*****/

.full-width { 
    width: 1200px;
    margin: 0 auto;
}
.half-width {
    width: 600px;
    float: left; 
    padding-top: 20px;   
}
.third-width {
    height: 250px;
    width: 400px;
    margin: 0 auto;
    padding-top: 20px;
}

/*****header*****/

header {
    height: 110px;
}
header h1 span {
    color: #77a466;
}
header h1 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bolder;
    padding-top: 10px;
}
nav {
    float: right;
    padding-top: 20px;

}
nav ul li {
    display: inline-block;
}
nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 14px;
    color: #77a466; 
    padding-left: 15px;
}
/*****main top*****/

#top {
    height: 500px;
}
#top img#gallery {
    border-bottom-width: 1200px;
    border-bottom: solid;
    border-color: #77a466;
    border-top: solid; 
    border-top-color: #77a466;
    border-top-width: 3px;
} 
#top h2 {
    color: #77a466;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 18px;
}
#top p {
    font-size: 16px;
    line-height: 35px;
}

/*****BOTTOM*****/

#one .third-width {
    
    border-top: solid;
    border-top-width: 1px;
    border-color: #dedbdc;
    border-right: solid;
    border-right-width: 1px;
    border-color: #dedbdc;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #dedbdc;
    float: left;
}
#one h3 {
   text-transform: uppercase; 
   font-size: 12px;
   font-weight: bolder;
}
#one p {
   text-transform: uppercase;
   font-size: 16px;
   font-weight: bolder;
   color: #77a466
   
   
}

#two .third-width {
    border-top: solid;
    border-top-width: 1px;
    border-color: #dedbdc;
    border-right: solid;
    border-right-width: 1px;
    border-color: #dedbdc;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #dedbdc;
    float: left;
}
#two h3 {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bolder;
    padding-left: 15px;

}
#two p {
    font-size: 16px;
    padding-top: 20px;
    line-height: 30px;
    padding-left: 15px;
    padding-bottom: 80px;
}

#three .third-width {
    width: 398px;
    border-top: solid;
    border-top-width: 1px;
    border-color: #dedbdc;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #dedbdc;
    float: left;



}
#three h3 {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding-left: 15px;
    padding-bottom: 20px;
}
#three p {
    font-size: 16px;
    line-height: 30px;
    padding-left: 15px;
}

/*****FOOTER*****/

#footer h4 {
    clear: both;
    padding-top: 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
#footer span {
        font-family: 'Galada', cursive;
        font-size: 16px;
        color: #77a466;
        text-transform: lowercase;
}
